@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(/public/portfolio-background.jpg);
  background-size: cover;
  min-height: 100vh;
  background-position: top center;
  background-repeat: no-repeat;
  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
}

div {
  display: flex;
}
